anyio==3.1.0
appdirs==1.4.4
argon2-cffi==20.1.0
astroid==2.5.6
async-generator==1.10
attrs==21.2.0
autograd==1.3
autopep8==1.5.7
Babel==2.9.1
backcall==0.2.0
black==21.5b1
bleach==3.3.0
Bottleneck==1.3.2
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==8.0.1
cycler==0.10.0
decorator==4.4.2
defusedxml==0.7.1
dill==0.3.3
entrypoints==0.3
future==0.18.2
htmlmin==0.1.12
idna==2.10
ImageHash==4.2.0
importlib-resources==5.1.4
ipykernel==5.5.5
ipython==7.23.1
ipython-genutils==0.2.0
ipywidgets==7.6.3
isort==5.8.0
jedi==0.18.0
Jinja2==3.0.1
joblib==1.0.1
json5==0.9.5
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyter-server==1.8.0
jupyterlab==3.0.16
jupyterlab-code-formatter==1.4.10
jupyterlab-pygments==0.1.2
jupyterlab-server==2.5.2
jupyterlab-widgets==1.0.0
kiwisolver==1.3.1
lazy-object-proxy==1.6.0
Lifetimes==0.11.3
MarkupSafe==2.0.1
matplotlib==3.4.2
matplotlib-inline==0.1.2
mccabe==0.6.1
missingno==0.4.2
mistune==0.8.4
multimethod==1.4
mypy-extensions==0.4.3
nbclassic==0.3.1
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.5.1
notebook==6.4.0
numpy==1.20.3
packaging==20.9
pandas==1.2.4
pandas-profiling==3.0.0
pandocfilters==1.4.3
parso==0.8.2
pathspec==0.8.1
pexpect==4.8.0
phik==0.11.2
pickleshare==0.7.5
Pillow==8.2.0
plotly==4.14.3
ppscore==1.2.0
prometheus-client==0.10.1
prompt-toolkit==3.0.18
ptyprocess==0.7.0
pycodestyle==2.7.0
pycparser==2.20
pydantic==1.8.2
Pygments==2.9.0
pylint==2.8.2
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==2.8.1
pytz==2021.1
PyWavelets==1.1.1
PyYAML==5.4.1
pyzmq==22.1.0
quickda==0.2.2
regex==2021.4.4
requests==2.25.1
retrying==1.3.3
scikit-learn==0.24.2
scipy==1.6.3
seaborn==0.11.1
Send2Trash==1.5.0
six==1.16.0
sniffio==1.2.0
sweetviz==2.1.0
tangled-up-in-unicode==0.1.0
terminado==0.10.0
testpath==0.5.0
threadpoolctl==2.1.0
toml==0.10.2
tornado==6.1
tqdm==4.61.0
traitlets==5.0.5
typing-extensions==3.10.0.0
urllib3==1.26.5
visions==0.7.1
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
xgboost==1.4.2
zipp==3.4.1
